manifest {
    mainScript = 'vast-tools.nf'
    gitmodules = 'vast-tools'
}

process.container = "skptic/vasttools"

profiles {
    crg {
        process {
          executor='crg'
          queue='short-sl65'
          memory='32G'
          cpus='1'
        }
    }
}

env {
    PATH="/vast-tools:$PATH"
}

